* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5) center/cover no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  background-size: cover;
}

.header {
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
  position: relative;
}

.player {
  position: relative;
  z-index: 2;
  max-width: 300px;
  z-index: -10;
  opacity: 0;
}

.play-list {
  text-align: left;
}

.play-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 6px;
  list-style: none;
  opacity: 0.8;
  transition: .3s;
}

.play-item::before {
  content: "\2713";
  margin-left: 8px;
  font-weight: 900;
}

.item-active::before {
  color: #ff4500;
}

.item-active::after {
  content: '';
  position: absolute;
  left: 0px;
  width: 300px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  z-index: -1;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.playlist-item-play {
  opacity: 0.8;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings__button:hover,
.playlist-item-play:hover,
.todo__button:hover,
.tab__all-tasks:hover,
.tab__done-tasks:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings__button:active,
.playlist-item-play:active,
.todo__button:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.player-top {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 7px;
  position: relative;
}

.volume-icon {
  background-image: url('../assets/svg/volume.svg');
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
  cursor: pointer;
}

.volume-mute-icon {
  background-image: url('../assets/svg/volume-x.svg');
}

.volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.volume-line {
  height: 4px;
  width: 220px;
  background: white;
  cursor: pointer;
}

.volume-line {
  -webkit-appearance: none;
  width: 220px;
  height: 4px;
  background: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.volume-line::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 5px;
  background: white;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.volume-line::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.general-time {
  opacity: 0.5;
}

.top__player-time {
  display: flex;
  justify-content: space-between;
  width: 60px;
  font-size: 12px;
  padding-bottom: 10px;
  left: -32%;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 18px 15px 25px 0px;
}

.timeline {
  display: flex;
  width: 85%;
  height: 4px;
  cursor: pointer;
  margin-bottom: 5%;
}

.timeline__progress {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(#fff, #fff);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.timeline__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 5px;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.timeline__progress::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.player-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.player::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 0px;
  width: 300px;
  height: 155px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
  background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 1.25em 1.25em, linear-gradient(135deg, transparent 0.9em, rgba(255, 255, 255, 0.2) 0);
  transition: all 0.2s;
}

.player:hover::before {
  background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 0em 0em, linear-gradient(135deg, transparent 0em, rgba(255, 255, 255, 0.2) 0);
}

li {
  list-style-type: none;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
  background-color: rgba(28, 28, 28, 0);
  border: 0;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 280px;
  min-height: 120px;
  text-align: left;
  z-index: -10;
  opacity: 0;
}

.weather::before {
  position: absolute;
  right: 0px;
  content: '';
  width: 300px;
  height: 155px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
  background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 1.25em 1.25em, linear-gradient(-135deg, transparent 0.9em, rgba(255, 255, 255, 0.2) 0);
  transition: all 0.2s;
}

.weather:hover:before {
  background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 0em 0em, linear-gradient(-135deg, transparent 0em, rgba(255, 255, 255, 0.2) 0);
}

.weather-top {
  display: flex;
  margin-bottom: -25px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-top: 10px;

}

.temperature {
  font-size: 32px;
  margin: 4px 0px 5px;
}

.weather-description {
  font-size: 14px;
  text-align: right;
  opacity: 0.5;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  column-gap: 12px;
  width: 200px;
}

.characteristics-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 45px;
  margin-top: 30px;
}

.weather-icon {
  font-size: 56px;
  margin: 10px 0px 0px 25px;
}

.city {
  font-family: 'Play', sans-serif;
  width: 170px;
  height: 34px;
  padding: 25px 0px 20px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
}

.city::placeholder {
  font-family: 'Play', sans-serif;
  font-size: 20px;
  color: #fff;
  opacity: .5;
}

.weather-error {
  opacity: 0.5;
  text-align: left;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
  z-index: 0;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 120px;
  letter-spacing: 2px;
  transition: all 0s;
  z-index: -10;
  opacity: 0;
  user-select: none;
}

.time::before {
  content: '';
  position: absolute;
  width: 495px;
  height: 20px;
  background: #ff4500;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  margin-top: 103px;
  opacity: 0.8;
  z-index: -2;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0s;
  z-index: -10;
  opacity: 0;
  user-select: none;
}

.greeting-container {
  z-index: -10;
  opacity: 0;
}

.greeting {
  padding-right: 10px;
  font-size: 40px;
  text-align: center;
  user-select: none;
}

.name {
  font-family: 'Play', sans-serif;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  position: relative;
}

.settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.settings__button {
  background-image: url('../assets/svg/settings.svg');
  width: 30px;
  height: 30px;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
  margin: 0px 0px 15px 15px;
  position: relative;
  z-index: 2;
  opacity: 0.8;
}

.settings__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
  height: 350px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  transition: all 0.2s;
  z-index: -10;
  background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 1.25em 1.25em, linear-gradient(135deg, transparent 0.9em, rgba(255, 255, 255, 0.2) 0);
}

.settings__info:hover {
  background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 0em 0em, linear-gradient(135deg, transparent 0em, rgba(255, 255, 255, 0.2) 0);
}

.setting__background,
.setting__display {
  width: 300px;
  margin-top: 20px;
}

.setting__background input:focus {
  outline: 2px solid #ff4500;
  background: #FFF !important;
}

.setting-title {
  margin-bottom: 13px;
  opacity: 0.25;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
  padding: 4px 7px;
}

label input {
  display: none;
}

label {
  cursor: pointer;
}

.radio-button {
  height: 15px;
  width: 15px;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-radius: 50px;
}

[type=radio]:checked+span:before {
  content: '\25CF';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: .5;
  color: #ff4500;
  border-radius: 50px;
}

#background-tag {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  border: 0;
  background-color: rgb(215, 215, 215);
  height: 30px;
  width: 87%;
  transition: all 0.3s;
  opacity: 0;
}

#background-tag::placeholder {
  color: black;
  opacity: 0.3;
}

.check {
  display: flex;
  margin: 7px 0px;
}

.checkbox-buttons__columns {
  display: flex;
  justify-content: space-between;
}

.checkbox-buttons input {
  margin-right: 5px;
  display: none;
}

.checkbox-button {
  height: 17px;
  width: 17px;
  border: 0px solid white;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  padding: 5px;
  margin-right: 5px;
}

[type=checkbox]:checked+span:before {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  font-size: 22px;
  line-height: 10px;
  color: white;
  background-color: #ff4500;
}

.checkbox-buttons label {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
}

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
}

.checkbox-buttons__first,
.checkbox-buttons__second,
.checkbox-buttons__third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.setting__language {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 230px;
  padding: 15px 20px 0px;
  margin-bottom: 30px;
}

.language__buttons {
  display: flex;
  justify-content: space-between;
}

.setting__language button {
  width: 48%;
  height: 30px;
  border: 0;
}

._active {
  background-color: #ff4500;
  color: white;
}

.quotes {
  position: relative;
  max-width: 60%;
  z-index: -10;
  opacity: 0;
}

.quotes::before {
  content: '';
  position: absolute;
  top: 63px;
  left: -28px;
  z-index: -1;
  color: rgba(255, 255, 255, 0.4);
  background: url('../assets/svg/quote-start.svg') no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}

.quotes::after {
  content: '';
  position: absolute;
  top: 51px;
  right: -28px;
  z-index: -1;
  color: rgba(255, 255, 255, 0.4);
  background: url('../assets/svg/quote-end.svg') no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 25px;
}

.author {
  min-height: 20px;
  opacity: 0.5;
}

.quotes-bottom {
  margin-bottom: 10px;
  font-size: 13px !important;
}

.github-link {
  color: rgba(255, 255, 255, 0);
  background: url('../assets/svg/github-logo.svg') no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.rsschool-link {
  color: rgba(255, 255, 255, 0);
  background: url('../assets/svg/rsschool-logo.svg') no-repeat;
  width: 81px;
  height: 30px;
  opacity: 0.8;
  margin: 0px 5px;
}

.todo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: -10;
  opacity: 0;
}

.todo__button {
  font-size: 20px;
  color: #FFF;
  background-color: rgba(28, 28, 28, 0);
  border: 0;
  position: relative;
  z-index: 2;
  opacity: 0.8;
  transition: all 0.3s;
  right: 15px;
  bottom: 15px;
}

.todo__task-display {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 350px;
  bottom: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  transition: all 0.2s;
  background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 1.25em 1.25em, linear-gradient(225deg, transparent 0.9em, rgba(255, 255, 255, 0.2) 0);
}

.todo__task-display:hover {
  background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 0em 0em, linear-gradient(225deg, transparent 0em, rgba(255, 255, 255, 0.2) 0);
}

.task-display__tabs {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.tab__all-tasks,
.tab__done-tasks {
  font-family: 'Play', sans-serif;
  height: 50px;
  width: 150px;
  border: 0;
  background: rgba(255, 255, 255, 0);
  font-size: 16px;
  opacity: 0.8;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.tab__all-tasks {
  opacity: 1;
}

.tab__done-tasks {
  opacity: 0.6;
}


#todoInput {
  font-family: 'Play', sans-serif;
  margin-bottom: 55px;
  width: 260px;
  border-radius: 0;
  border: 0;
  min-height: 30px;
  padding-left: 15px;
  transition: all 0.1s;
  background: rgb(215, 215, 215);
}

#todoInput::placeholder {
  font-family: 'Play', sans-serif;
  opacity: 0.6;
  font-size: 15px;
}

#todoInput:focus {
  outline: 2px solid #ff4500;
  background: #FFF;
}

.task-display__tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 160px;
  text-align: left;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s;
}

.task-display__tasks li {
  display: block;
  animation: show-li 0.2s linear;
  transition: all 0.3s;
}

@keyframes show-li {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.task-display__tasks .hide-li {
  display: block;
  animation: hide-li 0.2s linear;
  transition: all 0.3s;
}

@keyframes hide-li {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.task-display__tasks::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.list-tasks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 6px;
  list-style: none;
  opacity: 0.8;
  transition: .3s;
}

.delete-task-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url('../assets/svg/delete.svg');
  background-color: rgba(28, 28, 28, 0);
  border: 0;
  outline: none;
}

.settings-input-task {
  background-color: transparent;
  color: white;
  border: 0px;
  font-size: 15px;
}

.settings-input-task:focus {
  outline: 1px solid rgba(255, 255, 255, 0.373);
}

.task-display__tasks input:focus {
  outline: 1px solid #ff4500;
  background: transparent;
}

.p-settings {
  position: absolute;
  width: 260px;
  text-align: center;
  opacity: 0.4;
  top: 150px;
}

.quotes-bottom {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-bottom p {
  opacity: 0.4;
}

@media (max-width: 1180px) {

  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .time::before {
    width: 300px;
    height: 15px;
    margin-top: 60px;
  }

  .date {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 24px;
  }

  .greeting {
    font-size: 32px;
    padding: 0px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .github-link {
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
  }

  .rsschool-link {
    background-size: 80px 25px;
    margin: 0px 10px;
  }

  .quotes-bottom p {
    font-size: 10px;
  }
}

@media (max-width: 980px) {
  .player::before {
    background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 0.9em 0.9em, linear-gradient(135deg, transparent 0.7em, rgba(255, 255, 255, 0.2) 0);
  }

  .weather::before {
    background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 0.9em 0.9em, linear-gradient(-135deg, transparent 0.7em, rgba(255, 255, 255, 0.2) 0);
  }

  .settings__info {
    background: linear-gradient(to right bottom, transparent 50%, #ff4500 0) no-repeat 0% 0% / 0.9em 0.9em, linear-gradient(135deg, transparent 0.7em, rgba(255, 255, 255, 0.2) 0);
  }

  .todo__task-display {
    background: linear-gradient(to left bottom, transparent 50%, #ff4500 0) no-repeat 100% 0% / 0.9em 0.9em, linear-gradient(225deg, transparent 0.7em, rgba(255, 255, 255, 0.2) 0);
  }

  .player-top {
    margin-top: -5px;
  }

  .play-item {
    font-size: 14px;
    padding: 3.5px;
  }

  .item-active::after {
    width: 210px;
    height: 26px;
  }

  .top__current-audio {
    font-size: 14px;
  }

  .current-time,
  .player-time-slash,
  .general-time {
    font-size: 10px;
  }

  .top__player-time {
    width: 50px;
  }

  .player-controls {
    width: 208px;
    margin: 18px 0px 15px 0px;
  }

  .player::before {
    width: 210px;
    height: 135px;
  }

  .volume {
    width: 178px;
  }

  .volume-icon {
    background-size: 23px 23px;
    width: 25px;
    height: 25px;
  }

  .play-prev,
  .play-next {
    background-size: 25px 25px;
    width: 30px;
    height: 30px;
  }

  .play {
    background-size: 35px 35px;
    width: 40px;
    height: 40px;
  }

  .weather {
    width: 195px;
    height: 110px;
  }

  .weather::before {
    width: 210px;
    height: 135px;
  }

  .weather-top {
    height: 40px;
  }

  .city {
    font-size: 14px;
    width: 130px;
    padding: 20px 0px 15px;
  }

  .city::placeholder {
    font-size: 14px;
  }

  .description-container {
    flex-direction: row;
    align-items: center;
  }

  .weather-icon {
    font-size: 40px;
    margin: 5px 0px 0px 10px;
  }

  .weather-error,
  .wind,
  .humidity {
    font-size: 14px;
  }

  .characteristics-descriptions {
    margin-top: 0px;
    width: 180px;
  }

  .temperature {
    font-size: 14px;
  }

  .weather-description {
    font-size: 12px;
  }

  .weather-info {
    flex-direction: column-reverse;
    margin-top: 0px;
    width: 180px;
  }

  .quotes::before {
    top: 53px;
    left: -28px;
    z-index: -1;
    background-size: 25px 25px;
    width: 20px;
    height: 20px;
  }

  .quotes::after {
    top: 43px;
    right: -24px;
    z-index: -1;
    background-size: 25px 25px;
    width: 20px;
    height: 20px;
  }

  .change-quote {
    background-size: 25px 25px;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }

  .quote {
    font-size: 14px;
    min-height: 0;
  }

  .author {
    font-size: 14px;
    margin-top: 10px;
  }

}

@media (max-width: 480px) {
  .time {
    min-height: 40px;
    font-size: 40px;
  }

  .time::before {
    width: 174px;
    height: 10px;
    margin-top: 32px;
  }

  .date {
    margin-bottom: -6px;
    font-size: 14px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 20px;
  }

  .greeting {
    font-size: 20px;
    padding: 0px;
  }

  .name {
    font-size: 20px;
    padding: 5px;
  }
}